
<p class="summary">Sometimes we have tasks to do and no matter how hard we try, we just can’t do them. Here are 6 tips that might help you to achieve your tasks.
</p>

<img class="blog-img" src="https://images.pexels.com/photos/4126694/pexels-photo-4126694.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
" alt="a person laying their head on table">

<h2>1. Acknowledge your feelings
</h2>

<p>It helps to firsts sit with your feelings and acknowledge them. Take a deep breath in and out. It’s ok to not want to do something or find something hard. All of us struggle with doing things, and that’s ok. 
</p>

<p>If you don’t want to do something, you probably have a valid reason. Our feelings are like indicators, they tell us whether something is safe, exciting or dangerous, and help to keep us safe, but they’re not rules. We don’t have to follow our emotions if we don’t want to, but they can help us make a decision.
</p>

<p>So, it is good to check in and acknowledge those feelings. Sometimes we can throw ourselves into things without checking in with how it’s making us feel, which can leave us doing things that aren’t right for us.
</p>

<p>Other times we might acknowledge our feelings, but we judge them, and often ourselves, creating an extra burden.
</p>

<p>So when you sit with your feelings, try to accept them as they are, warts and all.
</p>

<p>A good example of this is looking at trees. Trees come in all shapes; some are twisted, some are missing branches, some have been knocked over by the wind. They are all trees. Not good, not bad. Just trees. Your feelings are the same. Not good, not bad. Just feelings.
</p>

<img class="blog-img" src="https://images.pexels.com/photos/1126380/pexels-photo-1126380.jpeg
" alt="a calm scene of a bendy bush in the middle of a lake
">

<h2>2. Why do you not want to do the thing?
</h2>

<p>Once you’ve sat with your emotions, you might realise that there’s a reason you don’t want to do something, but you’re not entirely sure what that is.
</p>

<p>Sometimes the biggest the obstacle is finding out what is stopping us.
</p>

<p>It could be that we feel tired and lack the physical or emotional energy to do our task. 
</p>

<p>It might be that we’re afraid of getting it wrong, and what people could think of us. 
</p>

<p>We might have a “block” and not know how to get started, or what we should be doing. 
</p>

<p>Or it could be that someone has told us to do it, and it doesn’t align with our values.
</p>

<p>These are all valid responses. Whatever your reason is there is probably something you can do about it (including the option of not doing the thing). If you need some help in finding out what do, writing things down can help us process and order our thoughts, and help us find solutions.
</p>

<p>And if you’re <a href="/blogs/Having-a-bad-day__-Try-these-5-tips">feeling down, try these 5 tips.</a></p>

<img class="blog-img" src="https://images.pexels.com/photos/4091205/pexels-photo-4091205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
" alt="woman in a white jumper, looking out of a window and thinking
">

<h2>3. Break down the task
</h2>

<p>Sometimes a challenge feels so big that we can sometimes become stuck as we’re so focused on trying to do that one thing that we can’t do anything else.
</p>

<p>When that happens, it can be helpful to find a task that we can do.
</p>

<p>If you have a list of things to do, aim to complete the first one.
</p>

<p>If the tasks is to read or write several pages, aim for one page, or one paragraph.
</p>

<p>When we set ourselves a small goal that we know we can do, it can give us the motivation to do more (and if we don’t, we’ve still met our goal).
</p>

<p>Doing something small, is better than doing nothing. Whether you go step by step, or toe by toe, you’re still moving forward.
</p>

<img class="blog-img" src="https://images.pexels.com/photos/210661/pexels-photo-210661.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
" alt="someone holding a pen, in the middle of writing
">

<h2>4. You can do anything for 10 seconds
</h2>

<p>If you find the task difficult to do, set yourself timed goals. Some people like pomodoro timers, which are timers for 20 minutes. These can help focus our mind, and dedicate a slice of time to doing our thing.
</p>

<p>Try to do as much of your thing in 20 minutes, and then have a break.
</p>

<p>If 20 minutes is too long, try 10 seconds. You could have a break after, or try another 10 seconds.
</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1431499012454-31a9601150c9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
" alt="An old-fashioned silver stopwatch
">

<h2>5. Acknowledge your wins
</h2>

<p>Sometimes we can forget how capable we are. This can set us up thinking that we can’t do our thing, when that isn’t true. To get around this, think back to challenges that you have had and that you’ve overcome.
</p>

<p>It can be big or small. Whatever it is, it’s about remembering that you have overcome difficulties and can do so again!
</p>

<p>You are brilliant, and you can do your thing!
</p>

<img class="blog-img" src="https://images.pexels.com/photos/7842565/pexels-photo-7842565.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
" alt="A little glittering sign saying “You did it!”
">

<h2>6. Count yourself In
</h2>

<p>It’s been shown that we need to prepare ourselves mentally to do certain tasks. Get ourselves into “the right mindset”. This can sometimes be very hard. One way to combat this is to dedicate a specific amount of time to preparation, based upon how long we think we need.
</p>

<p>It’s like the start of a race. We see a countdown that helps prepare athletes for the start. 3… 2… 1… Go!!
</p>

<p>Each step the athletes can prepare to start, and we can do that for ourselves for our own challenges.
</p>

<p>Finding it difficult to do a task? Count yourself in. You can even add your preparation tasks to your countdown.
</p>

<p>3…Collect all the things I need 2… See the challenge ahead, 1… I’m going to do this, and Go!!
</p>

<p>This approach is something that has helped me a lot over the years. For small tasks a simple “3-2-1 Go!” can work but for bigger challenges I might count myself in from 20, and use each countdown to take a deep breathe in and out (or more if I was particularly stressed). I could then be more calm and more focused to do the challenge ahead.
</p>

<h2>Good Luck!
</h2>

<p>I hope these tips help you get your thing done!
</p>

<img class="blog-img" src="https://images.pexels.com/photos/3807762/pexels-photo-3807762.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
" alt="A woman smiling with her fingers crossed as a sign to wish you luck
">

<p>One last thing. These tips are meant to work as a guide. Some might work for you, some might not. Don’t get disheartened if they don’t. Sometimes we can’t do things and that’s ok.</p>
