
<!-- 
    <img class="blog-img" src="" alt="">
    <p class="caption">Image of a crocus from Unsplash</p>

 -->

 <p class="summary">Watching wildlife and being in nature can have health benefits. Here&rsquo;s what to watch out for in February.</p>

 <img class="blog-img" src=" https://images.unsplash.com/photo-1521508567009-a6d821b3db22?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
 alt="">
 <p class="caption">Photo by <a href="https://unsplash.com/@keebarber?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Keenan Barber</a> on <a href="https://unsplash.com/photos/bed-of-pink-tulips-during-daytime-xDC4NWQC_nM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>


<h2>1. Butterflies</h2>

<p>During March and April the butterflies start to emerge. The ones I most often see, due to their bright, almost luminous wings, are the cabbage whites or small whites. There are also red admirals, mostly browny-black with two orangey-red stripes on their wings, and white spots. There’s the small tortoiseshell, which is almost completely orangey-red, with black and white edges, and black and yellow stripes. And the peacock butterflies, also orangey-red, with their recognisable eyespots.</p>

<p>Since I live in a city where most of the landscape is brick and concrete, I don’t often get to see butterflies as they live mostly by wildflowers and particular plants. If you have a garden growing certain plants can attract them to your garden. Otherwise the best places can be in the countryside or botanical gardens.</p>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="blog-img img-fluid" src="https://images.unsplash.com/photo-1635150777728-a4dff81250c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="">
            <p class="caption">Image of a cabbage white butterfly from Unsplash</p>
        </div>

        <div class="col-md-6">
            <img class="blog-img img-fluid" src="https://images.unsplash.com/photo-1671667702983-861e0573f6f8?q=80&w=2048&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="">
            <p class="caption">Image of a red admiral butterfly from Unsplash</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="blog-img img-fluid" src="https://images.unsplash.com/photo-1697186104433-7ec8ed8f50dd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="">
            <p class="caption">Image of a tortoiseshell butterfly from Unsplash</p>
        </div>

        <div class="col-md-6">
            <img class="blog-img img-fluid" src="https://images.unsplash.com/photo-1544451231-d97155ea90c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="">
            <p class="caption">Image of a peacock butterfly from Unsplash</p>
        </div>

    </div>

</div>



<h2>2. Tulips</h2>

<p>Tulips are wonderful. There are so many different types and colours; reds, yellows, oranges, the rarer purples, both block colours and stripey. One of my favourites is red with white frilly ends, called a Tulip New Santa, which I think is amazing. They’re another flower that brings the mood of Spring. You can often find them in parks and gardens, and like daffodils, can often be bought in supermarkets around February and March.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1554494583-c4e1649bfe71?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
" alt="a sea of colourful springtime tulips">



<h2>3. Last blossom</h2>

<p>April is the time of the last blossom, both in the UK and Japan, where they have the cherry blossom (sakura) festival. It is a big tourist draw, occurring when the trees bloom from March to May (depending on their climate and location). I find the end of the blossom season, when the tress have all returned to their green, signals the end of Spring and the start of Summer. With longer, sunny days, between a blue sky and a green floor.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1462524500090-89443873e2b4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
" alt="blossom on a tree pictured against blue sky with light sparkling through branches, with petals flying off in the wind like spring snow">


<h2>4. Lily of the valley</h2>

<p>Lily of the valley is a plant that’s new to me. I was aware of it when it came to fragrances that my grandmother liked, but not much more. However, since starting my wildlife watching I’ve started to look out for them more.</p>

<p>They look like large white bluebells, but with rounder bells and larger leaver. I’ve only seen them outside of cities, so they might not be hugely easy to find. But if you do, they are very charming, and you can see why it can be some people’s favourite flower.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1615134388213-33350feff59c?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
 alt="white round bells of lily of the valley">


