<!-- 
    <img class="blog-img" src="" alt="">
 -->

<p class="summary">Watching wildlife and being in nature can have health benefits. Here&rsquo;s what to watch out for in February.</p>

<h2>1. Crocuses</h2>

<p>After the snowdrops have bloomed, I always look out for the crocuses. They feel like the first signs of bright colours, in comparison to the whites, greys, and shades of brown common for winter, the best signal for the start of spring. I love the dark purples you can find, as well as the yellows, whites and white ones with purple stripes. So much so, that my photo on facebook was a cluster of crocuses for a very long time.</p>

<p>They seem to be the flower of choice for people to plant in parks and on green patches next to pavements and roads, so it can be relatively easy to find them.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1612713712706-10056bc370c6?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a purple crocus, shaped like a small egg-cup, with stigma in the center like long, thin, slips of colourful ribbon">
<p class="caption">Image of a crocus from Unsplash</p>


<h2>2. The first blossom</h2>

<p>The first trees will bloom around this time, with blackthorn coming first. When the buds first pop, it looks like a fresh white cloud has settles on the tree. It doesn&rsquo;t last long, it feels like their only here a week before the sprinkle the ground with spring snow.</p>

<p>Over the next few months different fruit trees will blossom with whites and pinks, but there&rsquo;s something really special about seeing the first tree blossom. There are a number of fruit trees where I live, and when I see the first one bloom I try to watch the others to catch the moment when they will too. Some years I get it right, some I don&rsquo;t, but it&rsquo;s a bit of fun either a way.</p>


<img class="blog-img" src="https://images.unsplash.com/photo-1617374067313-d017500b1e28?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="lots of delicate white blossom flowers in the shape of a star, each one about the size of your thumbnail">
<p class="caption">Image of white blossom from Unsplash</p>

<h2>3. Daffodils</h2>

<p>I always expect to see daffodils as the next sign of spring after crocuses arriving in March. However a few varieties bloom at this time, creating wonderful splashes of colour. Like crocuses, little clusters of them are often planted near roads, so they can be easy to spot. Otherwise, most supermarkets stock them too for a couple of a quid, so you can watch them bloom at home.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1615816852128-cd577627e97e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="bright yellow daffodils with their frilly horns and petals forming a star">
<p class="caption">Image of a daffodils from Unsplash</p>

<h2>4. Bees</h2>

<p>With the lack of flowers for food, and the coming cold, bees hibernate through winter and emerge in Spring. There are many different types of bees, and not all are part of a hive, in fact 90% are solitary.</p>

<p>Each bee species hibernates but will wake up at different times depending on when their preferred nectar source blooms. Bumblebees are hive insects, with only the queen bee surviving the winter. One of its food sources are blossoms, especially willow, crab apple and hawthorn trees, so you&rsquo;re not the only one looking out for spring blossoms.</p>

<p>You can help solitary bees by providing them with a  <a href="https://www.rspb.org.uk/helping-nature/what-you-can-do/activities/build-a-bee-hotel">bee hotel</a>, a place to lay the next generation of bees. </p>
<p>The <a href="https://www.woodlandtrust.org.uk/blog/2022/11/where-do-bees-go-in-winter/">woodland trust </a> has information about how to help bees, including planting bee friendly plants to help them survive through winter.</p>


<img class="blog-img" src="https://images.unsplash.com/photo-1568526381923-caf3fd520382?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a fluffy, stripy bee perching with its little legs on a flower">
<p class="caption">Image of a bee from Unsplash</p>


<h2>5. Cleavers of childish fun</h2>

<p>A staple of my childhood was a plant we called sticky stuff, though most people I knew called sticky willy. It has many, many names. According to wikipedia these are the more common ones:</p>

<p><em>Sweetheart, hitchhikers,cleavers, clivers, bedstraw, goosegrass, catchweed, stickyweed, sticky bob, stickybud, stickyback, sticky molly, robin-run-the-hedge, sticky willy, sticky willow, stickyjack, stickeljack, grip grass, sticky grass, bobby buttons, whippysticks, velcro plant and sticky plants.</em></p>

<p>If you know it then I hope this is bringing back very fun, silly memories. For those who don&rsquo;t, or need a reminder, the plant is covered in tiny, little hooks which make it perfect for sticking on your friend&rsquo;s back&#8230;creating a game like tag or it, but with a plant. Oh, for the simpler times.</p>

<p>It genuinely filled me with so much glee when I came across one of these plants as a child. I would try to cheekily stick it on my friends or sisters without them knowing, like a tiny giggling ninja.</p>

<p>In February the plant grows new shoots, so keep a look out from now to start the best game.</p>

<p>Unfortunately I can&rsquo;t get a free photo of it, but luckily the <a href=" https://www.wildlifetrusts.org/wildlife-explorer/wildflowers/cleavers">wildlife trust has some information on it (as well as a photo!)</a> </p>
