<body>
    
    <p class="summary"><em>It can suck when we’re in a bad place, but there are things we can do to help ourselves. Here are 5 tips that have been scientifically-proven (and tried-and-tested by me) to help make things a little better. </em></p>

    <img class="blog-img center card" src="https://images.pexels.com/photos/7004950/pexels-photo-7004950.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="a board with phrases randomly places on it including are you ok, mental health and feelings">
<p class="caption center">Photo by Vie Studio from Pexels</p> 

<h2>1. Let it out</h2>
<p>One of the best things we can do when we’re not feeling good is let it out. If you can, write down what’s upsetting you. Studies have found that writing down what’s on your mind can be better than talking it out, as it helps you make sense and process what you’re feeling.
</p>
<p>So grab some paper and a pen, or draft it on your phone, and try writing from one of these prompts:
</p>
 
<ul>
    <li>How’s your day going?</li>
    <li>If your life was a story how would it go?</li>
</ul>

<p>It doesn’t matter how your spelling is, or what your punctuation is like. It’s about getting those feelings out, working out what’s bothering you, why, and how you can rephrase it into a better light.
</p>

<p>If writing isn’t your thing then turn what you’re feeling into something else. Draw a picture, create music, or a song, take photos of things that express how you’re feeling. These activities have all been shown to help process our feelings.</p>

<p>Lastly, but most importantly, let it out by crying. If you hold any shame about it, don’t, as there’s a good reason we’ve developed crying, it makes us feel better. So have a good sob. If it helps, you could watch a sad film or listen to sad music.
</p>

<p>It’s not only ok to cry, it is genuinely good for you.
</p>

<img class="center blog-img" src="https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="a notebook open to an empty page and a pen">
<p class="center caption">Photo by Jessica Lewis from Pexels</p>

<h2>2. Breathing Better</h2>

<p>Something as simple as consciously breathing has been shown to help people feel better. Deep breathing can make you feel better (it activates the parasympathetic system)
</p>

<p>It can help to count while you’re breathing. I like to breathe in for 4, and out for 4. Focusing on the count and how your breath feels in your body can help ground you in the moment. Some of you might already have noticed that this is form of mindfulness or meditation, which has been proven to help some people create resilience and a calm focus under pressure.
</p>

<p>There are many resources out there saying how many counts are good, but in my opinion the best is what works for you.
</p>

<p>So take a deep breathe in………. and out……….
</p>

<img class="img-fluid blog-img center" src="https://images.pexels.com/photos/810775/pexels-photo-810775.jpeg">
<p class="center caption">Photo by Kelvin Valerio from Pexels</p>

<h2>3. Find your Castle on A Cloud</h2>

<p>When I was a child, and feeling really rotten, I’d like to think of my version of a Castle on Cloud, like the one from Les Miserables (yes, I was (…*cough cough*…) am ridiculously posh). In other words, I found a “Happy Place” and put my thoughts, and in effect, myself, in it.
</p>

<p>Creating a “Happy Place” or a place in your imagination that feels safe, warm and comforting can help us by ….
</p>

<p>However, think of it as a vacation or holiday rather than a full-time residence. When you’re feeling better, it can be healthy to look at the bad things, and process them. Let it Out and, as Elsa says, “Let It Go”.
</p>

<img class="center blog-img" src="https://images.pexels.com/photos/3225531/pexels-photo-3225531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="a woman relaxing in a pool surrounded by a tropical hut and beautiful trees"> 

<p class="center caption">Photo by Michael Block from Pexels</p>

<h2>4. You are part of something Bigger Than Yourself</h2>

<p>When you’re going through a difficult time, it can help to focus on something outside of ourselves. This can take us away from the bad thing we’re feeling in the here and now and focus our thoughts on something more bright and positive.
</p>

<p>For some people this is their religion, the idea of their god/s and what it all means to them. For other people it’s…. </p>
    
<p>For me, ‘cos I’m a bit of a hippy, I used to focus on trees, and how we’re all connected. We live by taking in plants (or animals that eat plants if you’re that way inclined), we take in water from the seas and clouds, and one day we’ll all go back to it. 

<p>The beautiful things that made us, and that we enjoyed seeing and being in and of, we will become. We’ll be in the clouds and in the water, and we’ll be in the trees. If you’re interested in this focus I’ve got a blog <a href="/blogs/You-are-made-of-stardust">here</a> that goes into it.
</p>

<img class="center blog-img" src="https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="a person's hand holding a globe">
<p class="caption center">Photo by Porapak Apichodilok from Pexels</p>

<h2>5. What can I do to make things better?</h2>

<p>It might not feel like there’s anything you can do now. Everything might just feel awful. I get that, I’ve been in those dark places. But sometimes, and I think often, there are little things we can do to make things a tiny bit better.
</p>

<ul>
    <li>Can you get a glass of water or a cup of tea? (or whatever your choice beverage is)</li>
    <li>Can you get some sleep?</li>
    <li>Can you eat something?</li>

</ul>

<p>Of course these things aren’t going to solve the problem or the bad thing, but they may help you be able to deal with it a little better. If you’re finding it hard to do things then you might find <a href="/blogs/6-Tips-on-doing-tasks-when-you-don’t-want-to">6 Tips on doing tasks when you don't want to</a> useful.</p>


</body>