<!-- 
    <img class="blog-img" src="" alt="">
 -->
<p class="summary">Watching wildlife and being in nature can have health benefits. Here&rsquo;s what to watch out for in January.</p>

<p>January in the North of the world can sometimes be a little grim. As we are tilted further away from the Sun, our light is less frequent and dimmer, compared to our summer months. However, there are still little sources of brightness to be found in our natural world. Keeping a look out for these plants and animals can focus our mind on the little treasures in this cold grey time, and remind us of the brightness to come.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1487424439918-bc6b5bef0380?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="the tops of crispy evergreen trees through a winter fog">
<p class="caption">Photo by <a href="https://unsplash.com/@atlemo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Atle Mo</a> on <a href="https://unsplash.com/photos/birds-eye-view-photography-of-pine-trees-during-winter-X9QnU-h3X_8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
</p>
  
<h2>1. Robins</h2>

<p>The bare trees allow a number of natural wonders to be seen, which would otherwise be hidden by leaves. The most striking of these is the robin, with its characteristic red chest. I find that robins, especially in the winter, have an air of sass about them as they cheerfully sing.</p>
<p>On a trip to Edinburgh, one flew down and landed straight in front of us. It stared at us then hopped about, striking many poses as if to say &ldquo;I am wonderful, look at me!&rdquo;. We took many photos as it puffed out its little chest triumphantly, and it made this quote from the Secret Garden seem very apt.</p>
<p>&ldquo;<strong>Nothing in the world is quite as adorably lovely as a robin when he shows off - and they are nearly always doing it.</strong>&rdquo;</p>
<p>So have a look among trees for flashes of red, and listen out for sounds of birdsong, as a fabulous robin might be near.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1548960095-770e3e6364de?q=80&w=1970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a sassy little robin with its red chest and brown head cocked to one side">
<p class="caption">Image from Unsplash</p>

<h2>2. Snowdrops</h2>

<p>While robins can be seen all year round, there are flowers that pop up only around Winter. I find the first signs of snowdrops to be particularly special as they signify a change in the seasons, an end to winter and the start of the new year&rsquo;s abundance.</p>
<p>I love the names of snow drops. In French there&rsquo;s &ldquo;snow piercer&rdquo; or &ldquo;perce-neige&rdquo; due to the way the plant pierces its way up through the winter snow. While Spanish has &ldquo;little bells&rdquo; or &ldquo;snowflakes&rdquo; from &ldquo;campanillas&rdquo; or &ldquo;copos de nieve.&rdquo;</p>
<p>Seeing their little white metals now drops fill me with hope and excitement as it signals all the flowers and little natural wonders to come. I&rsquo;m lucky that some have been planted in the green spaces where I live, but you might have to explore some of your local green spaces to find them.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1619267619391-198bdcd931d9?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a springling of white snowdrops">
<p class="caption">Image from Unsplash</p>

<h2>3. Hellebores</h2>

<p>My other favourite winter flower are hellebores. I find they have a certain magical quality to them, firstly because of how they can bloom in winter when everything else is frozen, and the second is their mystical colour.</p>
<p>I know of very few plants that have green flower heads, and hellebores can have a particularly ethereal light green to them. These large petals are actually sepals, which protect the flowers, with the petals significantly smaller hiding in the center. You can also find them in fantastic deep purples, light pinks, bright yellows and whites.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1642085318663-6c93b769d07a?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="yellowy-white hellebore flowers">
<img class="blog-img" src="https://images.unsplash.com/photo-1647262127683-0bd5e4436c9a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="dark purple hellobore flowers">
<p class="caption">Images from Unsplash</p>

<h2>4. Hazel Catkins</h2>

<p>There are so many interesting parts about the natural world, far more than we get taught about in school. When I was growing up I would sit under a tree in the school yard. It had these wonderful little things dangling off them, which I&rsquo;d often play with. They looked like someone had threaded lots of tiny flat discs onto the ends of the branches.</p>
<p>The tree was a birch tree, and my mum told me that the fun little dangles were catkins. Surprisingly they&rsquo;re a type of flower and can come in all sorts of different ways from scaly to fluffy. They appear before the trees get back their spring green leaves, and the tree that gets them first is the hazel. From these catkins the tree will make its tasty hazelnuts, to be found many months later around August.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1618151474224-3ff8a0213f6e?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="dozens of yellow strands, catkins, dangling of the branches of tree">
<p class="caption">Image from Unsplash</p>