
<!-- 
    <img class="blog-img" src="" alt="">
    <p class="caption">Photo by <a href="https://unsplash.com/@atlemo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Atle Mo</a> on <a href="https://unsplash.com/photos/birds-eye-view-photography-of-pine-trees-during-winter-X9QnU-h3X_8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
 -->
 <p class="summary">Watching wildlife and being in nature can have health benefits. Here&rsquo;s what to watch out for in March.</p>


<img class="blog-img" src="https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
" alt="fluffy blossom like little silk origami">
<p class="caption">Photo by <a href="https://unsplash.com/@_entreprenerd?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Arno Smit</a> on <a href="https://unsplash.com/photos/low-angle-photo-of-cherry-blossoms-tree-sKJ7zSylUao?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>


<h2>1. Daffodil Blankets</h2>

<p>I’m very lucky that daffodils seem to be the flower of choice in a lot of the grassy verges where I live. While a few individual ones come out in February, it’s around March that the whole area lights up. It’s like a yellow starry blanket. Rows and rows of them. It’s like a very loud sign saying “Spring is here!”</p>

<p>Daffodils are also called narcissus, with many different varieties. I find the bright yellow or orange ones my favourite but there are also white ones, often with orange trumpets, making them look a little like a fried egg. Very appropriate for an Easter flower.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1580551844145-abb9cda7581a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
" alt="a sea of bright, glowing yellow daffodils">



<h2>2. Blossom</h2>

<p>While the first blossom appears in February, more appear in March and April, often with vivid raspberry pink petals. I feel the bunches of blossoms look like scoops of fluffy, fruity, ice cream, although that’s probably just me. The blooms are very short lived, about a week. So I recommend going out regularly, maybe taking different routes home, to catch them.</p>

<p>If you have even more time, I like to watch them as they buds burst, they bloom, and then the fall of their petals while the leaves come through. The colour of the tree changes so much over a couple of weeks, from brown to white or pink, and then often to a burgundy, as the green leaves merge with the remnants of the flowers, before ending with a fresh display of green leaves.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1555341489-99c20c30445e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
" alt="a photo of delicate blossom swaying gently in a mild spring breeze">



<h2>3. Bluebells</h2>

<p>I used to think bluebells were magic. From their purpley flowers looking like hats for tiny garden fairies (growing up, I was a big fan of the flower fairies by Cicely Mary Barker thanks to my mum and grandmother). To the fact that wild bluebells are found in woodlands, which I would rarely come across, and seen just a splash of violet in the corner of your eye. I considered them to be extremely rare and precious (almost as rare as the fairies I’d imagine to be close by).</p>

<p>However this year, since I’ve been taking special notice to look for wildlife, I’ve noticed bluebells everywhere. I’ve seen them grow between fences, between the boundaries of people’s gardens and the edge of pavements, and in little corners of grass and brick. However, they are still rare. Of the world’s bluebells, half of them are in the UK, and they can be very fragile and difficult to grow. So take care not to disturb them (or the fairies nearby).</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1619291615312-0ad996509b6c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
" alt="soft bells of bluebells, with their petal edges curled up like the end of fairies boots">




<h2>4. Dandelions</h2>

<p>I’ve always found dandelions to be a staple of UK green spaces. Whether it be their vibrant frilly golden heads, which I’d play with as a child, while sitting with my friends on a sunny day. Or the seed clocks, that we’d blow to make a wish. They remind me of calm, peaceful times, without any hustle or bustle.</p>

<p>Since doing this wildlife watchlist I have noticed so many things, that I was oblivious to before. Firstly, the sheer scale of dandelions. I used to think of them as being quite spread out and sporadic, but this month (and April) I’ve found large swathes of them covering the ground very much like daffodils.</p>

<p>I’ve also read that they follow the sun like sunflowers. They open up after sunrise and turn their heads to the sun, then close up in the evening leaving a little tuft of yellow hair. Interestingly, their seed heads can tell you the weather. They need dry air to spread, and so will close up if there’s moisture in the air and coming rain.</p>

<p>Plus their lively yellow heads provide great food for butterflies, so avoid the temptation to pick them, and look for butterflies instead.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1559979322-e64a4397c29f?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
" alt="bright shining dandelions on a grassy background">


<h2>5. Daisies</h2>
<p>Along with dandelions, daisies were integral to my childhood. Whether we were sitting in my grandmother’s garden with my sisters, in the playground with my school friends, or out in a park with my family, there were always daisies…and daisy chains. </p>

<p>We would spend time finding the best daisies, then very carefully splitting their stems, and threading them together. I would say we spent hours doing this, but the time passed so easily, it felt like there was no time at all. Soon we were all adorned with crowns and bracelets of flowers, making them for each other, and delicately putting them around each others wrists and heads.</p>

<p>Like the dandelions, they also close at night and open in the day. I love that they look like little spots of white, but up close have tinges of pink.</p>

<p>In a time of rushing, I feel daisies show the joy of living for the little things.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1559652985-4a34d5e96acd?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a field of daisies like tiny floral fried eggs">


<h2>6. Baby rabbits</h2>

<p>I love when the babies come out. They’re so tiny! They look like they’d sit in the palm of your hand. Plus they have so much energy, they just bounce around. It’s so cute.</p>

<p>Although wild rabbits give birth multiple times a year, I find seeing baby rabbits in Spring particularly sweet. I’m very lucky that there are two burrows in the city so I get to regularly see rabbits hopping around. I’ve found the best time is around sunset, or in the mornings, so I’d recommend going on walks around green areas where you to live to see if there are any about.</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1503685203539-b6a872c8ae30?q=80&w=2082&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a little rabbit in a green field">

