
<img class="blog-img" src="https://images.pexels.com/photos/359989/pexels-photo-359989.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" 
alt="Image of an old-fashioned alarm clock">

<h2>What are habits?
</h2>

<p>Habits are actions that we do without thinking, when we have a particular prompt or cure (Robbins & Costa, 2017). They are built up when we do they same thing, in the same way, to the point that it almost becomes instinctual and we do it automatically.
</p>

<p>When you get into certain habits it takes little to no thought, like with the habit of going home after work or school. You can end up back at home without remembering how you did it.
</p>

<p>Our habits can include all our daily behaviours that we do instinctually, both healthy and unhealthy, such as:
</p>

<ul>
    <li>the time we wake up and go to sleep
    </li>
    <li>how often we smoke or drink
    </li>
    <li>how much we might exercise
    </li>
    <li>when we shower and brush our teeth
    </li>
</ul>

<p>They can also include:
</p>

<ul>
    <li>what we think during the day, about ourselves and the world
    </li>
    <li>what we eat and drink (when, and how much)
    </li>
    <li>how we respond to people
    </li>
    <li>the work we do and how we do it
    </li>
    <li>what we do when we’re stressed, like bite our nails or touch our hair
    </li>
</ul>

<p>As the word says, habits are habitual, they make up a lot of what we do, and interestingly what we think. So they can play are very big part in our lives.
</p>

<img class="blog-img" src="https://images.pexels.com/photos/1194196/pexels-photo-1194196.jpeg?auto=compress&cs=tinysrgb&w=600
" alt="An older man thinking, with clock behind him
">

<h2>Why do we have habits?
</h2>

<p>An interesting thing about our bodies is that they’ve evolved to be energy-efficient. Our minds have created shortcuts to help us process the world around us.
</p>

<p>Since the world is full of so much information, without these shortcuts, we’d be aware of so much information that we wouldn’t have the mental resources to get anything done.
</p>

<p>So we have a lot of shortcuts. Really, we have a lot of them. Blog here about some of our shortcuts
</p>

<p>Our habits are one such shortcut. They simplify our lives and make them easier, by removing our conscious thoughts, awareness and decision-making, freeing up more mental energy for other tasks.
</p>

<p>Take your journey to the shops. If you’ve moved somewhere new, or have to take a different route, it can take a bit of energy. You need to work out where you need to go, how to get there, which turns you need to take.
</p>

<p>But after a while, your brain knows where you are and where you’re going, all without you being aware of it. This can leave you energy to think about what you need to buy or to listen to a podcast.
</p>

<p>However, habits like these can sometimes be to our detriment. Ever left your home aiming for one place and ended up at work or a familiar place by accident? We can get so used to doing the same thing, that we’ll often default to it, whether or not that’s what we intended.
</p>

<p>By making the actions that we do over and over again quick, easy and and energy-efficient to do, our bodies make our lives easier. Our habits become effortless, an underlying current to our daily lives. But it’s important that the habits we have, help us.
</p>

<img class="blog-img" src="https://images.pexels.com/photos/103123/pexels-photo-103123.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
" alt="A man standing with his arms wide, on an outcrop of rock. He looks out onto a magnificent world 
">

<h2>Why are habits important?
</h2>

<p>Habits are the bread and butter of our daily lives, since they make up the majority of our subconscious actions and how we live. So if we want feel better and improve our lives, one of the best places to start is by getting better habits.
</p>

<p>If our habits don’t help us, they are unhealthy or make us feel bad, then that can have a negative affect our lives. Meanwhile if our habits are built up to benefit us, then we can live a healthier lifestyle much more easily.
</p>

<p>Switching up our bad habits for good ones doesn’t just improve our quality of life, by helping us feel better in ourselves, but it can help others feel better too (just imagine how fun we are to be around when we’re hangry).
</p>

<p>Habits, like getting good quality sleep, have a large range of health benefits such as reducing our chance of getting colds, and improving our metabolism and self-control. Morning routines can help us to feel calm and energised, and allow us to more easily achieve our goals. Meanwhile physical activity reduces our risk of cardiometabolic diseases like heart disease and diabetes.
</p>

<img class="blog-img" src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
" alt="A plethora of vibrant fruit and nuts
">

<h2>Our first habits
</h2>

<p>Since our habits are built up when we repeatedly respond in the same way to a prompt, a lot of our habits would have been built in our childhoods.
</p>

<p>If you grew up having dinner at 8pm, then you’re more likely to have dinner at 8pm when you’re an adult. The same goes for the time we go to bed and the time we wake up. As well as other daily tasks, like whether we eat breakfast or skip it, when or if we brush our teeth and how frequently we shower or tidy.
</p>

<p>However, our habits can change either by circumstance or by deliberate choice. When I had early starts for work, it became a habit to get up at 6am (or even earlier) and have a long walk. When I was doing my masters project, I would have a morning run at 8am. But when I was writing up my thesis, I would often sleep in til 2pm in the afternoon, and exercise became a hopeful-dream.
</p>

<img class="blog-img" src="https://images.pexels.com/photos/4259140/pexels-photo-4259140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="a family having breakfast together with slices of toast, avocadoes, granola and greens">

<h2>How our environment affects our habits
</h2>

<p>Changing our habits can be incredibly difficult, or incredibly easy, depending on your situation. One of the easiest ways to change our habits is to have external environmental encouragement, essentially to be in a situation where it pushes you into the habit.
</p>

<p>For example, if you go to school and live with parents who expect you to succeed, you’re more likely to get into habits like doing homework and going to bed on time. Your parents would create an environment that push you into going to school, studying
</p>

<p>In fact, any lifestyle that includes a schedule, prepared mealtimes, cleaning, and a community that expects you to succeed, will make habits easier, as the mental work to create new habits is reduced. Someone else makes the decision, you just need to follow their plan.
</p>

<p>These situations make our lives easier because someone is doing the work that we would normally have to do ourselves. This includes physical tasks like cooking meals, cleaning and tidying, but also mental work like figuring out what time to do things. Plus, when you take away the mental workload for planning, prepping and making food, as well as doing the cleaning and tidying up, it frees up a lot of our energy for other tasks.
</p>

<p>Unfortunately, these environments are either expensive to run, so most of us don’t have the luxury of living in them, or require us to give up certain freedoms.
</p>

<p>But don’t despair, we can still create better habits in non-ideal situations, it just requires a bit of energy and a lot of clever tricks. Luckily, I’ve sorted through these to help both of us. We can do this!
</p>

<img class="blog-img" src="https://images.pexels.com/photos/214574/pexels-photo-214574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
" alt="Person jumping in the air on a tree-lined path
">

<h2>Why it is so difficult to change habits
</h2>

<p>Often, our habits have a pay-off or feel-good factor for doing them (otherwise why would we do them?). Some of these rewards are healthy, like with brushing your teeth. The reward is feeling clean, having better breath, and feeling like you have your life together. All good stuff.
</p>

<p>But our unhealthy habits have a pay-off too. Food and drink like chocolate, crisps or alcohol makes us feel good in a number of ways. We get a pay-off from tasting something we enjoy, they’re often comforting, and remind us of good times. 
</p>

<p>The same goes for going on social media, as well as playing games. They give us a grief rise in “happy-hormones”, which keeps us going back.
</p>

<p>Once we have built up a habit often enough, we will gravitate towards it because we expect to do it and get the good-feeling. In fact, we can become so focused on getting that good feeling that if we don’t get it, we aren’t able to focus on anything else.
</p>

<p>This is why it can be so difficult to give up bad habits. Habits where the good feeling is inconsistent are the most difficult to give up. Social media is a key example of this. We scroll until we see something we like that satisfies us. But this could be after 30 seconds or 2 hours, making it difficult for us to give it up.
</p>

<h2>How we can change our habits
</h2>

<p>So we’ve looked at how important habits are to improving our quality of life, and the struggles in breaking bad habits and starting new ones. But we can still do something about them.
</p>

<p>Changing our habits can be difficult but if you want to start changing your habits, and improving your life, then I’ve put together a few blogs to help.</p>

<ul>
    <li>Create strong prompts: Do the same habit at the same time and the same place</li>
    <li>Create accountability: Find someone who also wants to change their habits and do it together</li>
    <li>Put it in your routine: Link your new habits with ones that you already do</li>
</ul>

<p>I hope this helps you create more good habits! Keep an eye out for more blogs on building healthier habits in the future!</p>