
<p class="summary"><em>You, me, and all life and things in our universe are amazing. Here’s a brief history of us.</em></p>

<img class="blog-img" src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="a silhoeutte of a person gazing up at the stars">
<p class="caption">Image from Unsplash</p>

<h2>The Beginning</h2>

<p>Just think, the universe burst into being. It didn’t exist, and then suddenly there it was. It burst forth, from possibly, absolutely nothing, and then out spilled a dense concoction of the foundations of our lives.</p>

<p>It’s said that in during the birth of this universe, in the early, tiny fractions of seconds of its existence, it grew so monumentally fast and so incomprehensibly huge, that our human brains couldn’t comprehend it.</p>

<p>The growth would be like something the size of a small molecule, expanding past the confines of our planet, out of our solar system, and reaching past Sirius, the brightest star in our night sky.
</p>

<p>During this time, the laws of physics that we have now, like gravity, came into being too. Had the universe not gone the way it did, our gravity might be widely different, and who we are now wouldn’t have been possible.
</p>

<p>For the next, hundreds of thousands of years, the universe would have developed the first infant stages of light and matter. Little specks, so incredibly tiny, that only the machines we build can detect them.
</p>

<p>And then it grew stars and galaxies…
</p>

<img class="blog-img" src="https://images.pexels.com/photos/16880956/pexels-photo-16880956/free-photo-of-rosette-nebula.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
" alt="the rosette nebula, a beautiful mass of matter, which has been making new stars">
<p class="caption">Image from Pexels of the Rosette Nebula</p>

<h2>The Life of our Stars</h2>

<p>The tiny specks of matter drew together, forming giant dust clouds. These grew so massive that its own mass caused it to condense into a baby star, a protostar.
</p>

<p>And in the heart of these stars, was made the oxygen that exists in the air that we breathe, as well as the carbon that makes us and all life on Earth.
</p>

<p>In fact, these stars would make almost all of the elements we see around us now, either during their lives or at the end of it.
</p>

<p>If the star was particularly massive then at the end of its life, when it has made all it can and become as large as possible…bang! It explodes, creating new elements and flooding the area with stardust, which eventually comes together to form planets, like ours, and everything on it.
</p>

<img class="blog-img" src="https://images.pexels.com/photos/16880954/pexels-photo-16880954/free-photo-of-jellyfish-nebula.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="the jellyfish nebula, a cosmic dust cloud, blooming out like a jellyfish, as the result of a supernova">
<p class="caption">Image fom Unsplash of the jellyfish nebula</p>


<h2>Our changing stardust</h2>

<p>Our planet has been around for just over 4 billion years. A part of the stardust that formed the Earth, accumulated into a life-form. A little cell, which was around 10 to 100 times smaller than a human hair.
</p>

<p>This cell lived. It made another. Which made another, and another, and another. Eventually these cells came together, and formed a multicellular being, which grew and lived, and made another. An un-breaking chain of life.
</p>

<p>We went from cells to full mammalian creatures, to apes, to humans. Eventually you were born, as was I. And like all those before us, at some point we won't be here too. But then new life will come. And one day, in a very distant future, our Earth will be swallowed by our star, and what new things will come from that we will never know.
</p>

<p>Our universe is in perpetual motion. A cycle where the end of one thing, creates the start of another. Stars are made, they burn and create, and then they die, giving life to more stars, or planets.
</p>

<p>We live by taking in plants (or animals that eat plants if you’re that way inclined), we take in water from the seas and clouds, and one day we’ll all go back to it.
</p>

<p>The beautiful things that made us, and that we enjoyed seeing and being in and of, we will become. We’ll be in the clouds and in the water, and we’ll be in the trees.
</p>

<p>So let’s enjoy what we can, in this time we have now.</p>

<p>And when you are feeling down, remember, you are made of stardust.</p>

<img class="blog-img" src="https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="a silhoeutte with a streak of stars above them, showing the edge of our galaxy, the milky way">
<p class="caption">Image from Pexels</p>

<a href="https://en.wikipedia.org/wiki/Inflationary_epoch"></a>

https://en.wikipedia.org/wiki/Light-year

https://en.wikipedia.org/wiki/Sirius