<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eskape</title>
    <link rel="icon" type="/assets/header/Esk-logo.png" href="/assets/header/Esk-logo.png">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto-Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-mainbg">
      <div class="container-fluid">
        <a class="navbar-brand navbar-logo" href="/">
          <img class="Esk-logo" src="/assets/header/Esk-logo.png">  <!-- onError="this.onerror=null;this.src='/Esk-logo.png';">-->
          Eskape</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!--<div class="hori-selector">
              <div class="left"></div>
    
            </div>-->
    
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patreon">Patreon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs">Blogs</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="/science_bites">Science Bites</a>
            </li>-->

            <!--<li class="nav-item">
              <a class="nav-link" href="/">Contact</a>
            </li>-->
           <!---<li class="nav-item">
              <a class="nav-link" href="/blog"><i class="far fa-clone"></i>Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="far fa-calendar-alt"></i>Contact</a>
            </li>-->
    
          </ul>
        </div>
      </div>
      </nav>
</header>