<%- include("partials/header.ejs")%>

<body id="home">

    <div class="text-center full-screen">

        <div class="container mountains">
            <h1 id="title">Eskape</h1>

            <img class="img-fluid" src="/assets/home/mountain_scene200.png" alt="welcoming mountains">
        </div>

        <div class="light-green triangle-dark-green">
            <h2><em>Feel Better, Do More</em></h2>

        <div class="container-fluid">
            <div class="row dragons">
                <div class="col-md-6">
                    <img class="img-fluid" src="/assets/home/dragInPond160.png" alt="a little happy dragon in a lake">
                </div>

                <div class="col-md-6">
                    <img class="img-fluid" src="/assets/home/TwoDrag160.png" alt="two little dragons, one doing yoga, one hiking">
                </div>
            </div>
            <img class="img-fluid lavender-grass" src="/assets/home/lavender-shrooms-200.png">
        </div>
    </div>

    <div class="container-fluid text-center dark-green mission">

        <div class="container">
             <h2>Eskape's Mission is to:</h2>
     
             <p>1. Help people with daily tasks, which improve their mental and physical well-being.</p>
     
             <p>2. Pass it forward. Help ourselves while helping others, including other people and our planet.</p> 
     
         </div>
     
      <!--   <img class="img-fluid lavender-grass" src="/assets/home/lavender-shrooms-200.png"> -->
     
     
             <div class="row">
     
                 <div class="col-md-12">
                     <p>Want to support Eskape's mission?</p>
                     <p><a class="purple-button abtn" href="/patreon">Support us on Patreon</a></p>
                 </div>
             
             </div>
     </div>


    <div class="info-card container text-center text-purple">

        <h2>Eskape can help you:</h2>

        <div class="row">

            <div class="col-md-6 align-self-center">
                <img class="tick-logo" src="/assets/home/tick160.png" alt="ticked box">
                <img class="tick-logo" src="/assets/home/tick160.png" alt="ticked box">
                <img class="tick-logo" src="/assets/home/tick160.png" alt="ticked box">

                
                <h3>Create routines and habits</h3>
                <p>To help you maintain a healthy lifestyle</p>
            </div>
            
           <div class="col-md-6 align-self-start  order-last order-md-first">
                <img class="img-fluid" src="/assets/home/Bubble1.png" alt="list of habits like drink water and eat 1 fruit">
            </div>

        </div>
    </div>

    <div class="info-card container text-center text-purple"> 

        <div class="row">

            <div class="col-md-6 align-self-center">
                <img class="tick-logo" src="/assets/home/tick160.png" alt="ticked box">
                <img class="tick-logo" src="/assets/home/tick160.png" alt="ticked box">
                <img class="tick-logo" src="/assets/home/tick160.png" alt="ticked box">

                <h3>Create to-dos for every occassion</h3>
                <p>So you never miss a thing</p>
            </div>
            
            <div class="col-md-6 align-self-start">
                <img class="img-fluid" src="/assets/home/Bubble2.png" alt="list of to-dos. Today - do 5 minutes of exercise. This Month - start couch 2 5k. This year - do 5k.">
            </div>

        </div>

    </div>

    <div class="info-card container text-center text-purple">

        <div class="row">

            <div class="col-md-6 align-self-center col-md-pull">
                <img class="tick-logo" src="/assets/home/tick160.png" alt="ticked box">
                <img class="tick-logo" src="/assets/home/tick160.png" alt="ticked box">
                <img class="tick-logo" src="/assets/home/tick160.png" alt="ticked box">

                <h3>Complete challenges to keep you on track</h3>
                <p>And help you stay motivated all year long</p>
            </div>

            <div class="col-md-6 align-self-start  order-last order-md-first">
                <img class="img-fluid" src="/assets/home/Bubble3.png">
            </div>

        </div>

    </div>

   <!-- <hr/> -->

    <div class="light-purple">

    <div class="info-card container text-center">

        <h2 class="text-white">Get rewards for completing your self-care goals</h2>

        <div class="row">

            <div class="col-md-6 align-self-center">
                <img class="star-logo" src="/assets/home/starCrown160.png" alt="a crown of stars">
                <h3>Collect fabulous badges!</h3>
                <p>To show off your achievements</p>
            </div>

            <div class="col-md-6 align-self-start order-last order-md-first">
                <img src="/assets/home/popBadges160.png">
            </div>

        </div>

    </div>

    <div class="info-card container text-center">

        <div class="row">

            <div class="col-md-6 align-self-center">
                <img class="star-logo" src="/assets/home/starCrown160.png" alt="a crown of stars">
                <h3>Personalise your avatar!</h3>
                <p>And create your favourite looks</p>
            </div>

            <div class="col-md-6 align-self-start">
                <img src="/assets/home/popChar160.png">
            </div>
        </div>

    </div>

    <div class="info-card container text-center">

        <div class="row">

            <div class="col-md-6 align-self-center">
                <img class="star-logo" src="/assets/home/starCrown160.png" alt="a crown of stars">
                <h3>And explore interesting places and stories!</h3>
                <p>Explore your world as your improve</p>
            </div>

            <div class="col-md-6 align-self-start order-last order-md-first">
                <img src="/assets/home/popStories160.png">
            </div>

        </div>

    </div>
</div>

<!--   <hr/> -->


<div class="container-fluid dark-purple triangle-orange text-center comingsoon spaceout">

    <img class="star-logo" src="/assets/home/starCrown160.png" alt="a crown of stars">
    <h2>Coming Soon!</h2>

    <div class="container">

        <div class="row">
            <div class="col-md-6 align-self-center">
                <p>The Eskape app for Android is in development!</p>

                <p>Want to get exclusive access to the app before it's released? And have the creator's biggest thanks!</p>
                <p>Then support us on Patreon!</p>
           

                <!--<img class="star-logo" src="/assets/home/starCrown160.png" alt="a crown of stars">-->
          
                <p><a class="skyblue-button abtn" href="/patreon">Support Eskape</a></p>
        

            </div>
            <div class="col-md-6">
                <img class="img-fluid appimg" src="/assets/home/appPic.png"> 
            </div>
        </div>
    </div>


    </div>
        
</div>




    </div>

</body>

<%- include("partials/footer.ejs")%>



