<%- include("partials/header.ejs")%>

<body id="patreon">
    
    <div class="full-screen text-center">

        <div class="container-fluid text-center dark-green">

            <h1 class="h1normal">Patreon</h1>

            <div class="container short-text">
                <p>Patrons are the <em>life-source</em> of projects like Eskape. Patrons pay a monthly donation, and get <em>special access</em> such as early blog views and first use of the Eskape app. </p>

            </div>
           
        </div>


        <div class="container text-center short-text">
            <div class="text-purple">
                <p>Patreon is a crowdfunding platform and kickstarter, 
                    which works on small monthly amounts. Becoming a supporter (patron) makes you part of the Eskape community.</p>
        
            </div>
             
               <img class="img-fluid patreons-img" src="/assets/home/popChar160.png">

               <p><a class="purple-button abtn" href="https://patreon.com/user?u=35676899&utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink">Support us on Patreon</a></p>

            </div>
        </div>


    <div class="container-fluid dark-green">
        <div class="container text-center">
            <p>Eskape needs people like you to become patrons as the design, development and creation of Eskape requires time and money.</p>

            <div id="work">

            <p>A lot of work goes into:</p>

            <div class="row work-list">
                <div class="col-md-3 col-6">
                    <img src="/assets/patreon/patreon1.png">
                    <p>researching healthy habits and routines</p>
                </div>
                <div class="col-md-3 col-6">
                    <img src="/assets/patreon/patreon2.png">
                    <p>researching effective methods of maintaining behaviour</p>
                </div>
                <div class="col-md-3 col-6">
                    <img src="/assets/patreon/patreon3.png">
                    <p>designing the UI/UX of the website, web and Android Apps</p>
                </div>
                <div class="col-md-3 col-6">
                    <img src="/assets/patreon/patreon4.png">
                    <p>creating all the assets like captivating images</p>
                </div>
            </div>

            <div class="row work-list">
                <div class="col-md-3 col-6">
                    <img src="/assets/patreon/patreon5.png">
                    <p>outlining the flow of the app, the activities, and databases</p>
                </div>
                <div class="col-md-3 col-6">
                    <img src="/assets/patreon/patreon6.png">
                    <p>researching the most effective technologies</p>
                </div>
                <div class="col-md-3 col-6">
                    <img src="/assets/patreon/patreon7.png">
                    <p>developing and testing the code</p>
                </div>
                <div class="col-md-3 col-6">
                    <img src="/assets/patreon/patreon8.png">
                    <p>testing the operations and user journey</p>
                </div>
            </div>

            </div>
        </div>

        <p class="text-center">All of this is done by Eskape's creator</p>

    </div>

    <div class="container text-center short-text">

        <p class="quote"><em>"I want Eskape to be a place where people feel like they can do things they previously couldn't. 
            Where everyone has access to the tools and information to live happier, healthier lives"</em> - Nettie AB (<em>Eskape's Creator</em>)</p>
    

        <p>With the support of Eskape's patrons and crowdfunders, Eskape is able to be built, but only with your help will it be be able to grow.</p>

        <p>If you'd like to be a part Eskape's journey, please consider giving what you can. Even a small amount means a lot.</p> 
            
        <p><a class="purple-button abtn" href="https://patreon.com/user?u=35676899&utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink">Support Nettie</a></p>

        <p>And to all of you that have supported me and Eskape.</p> 
            
        <p>"Thank you!"</p>

        <img class="tick-logo" src="/assets/patreon/pinkHeart.png" alt="a happy little heart">




    </div>

    <div class="container text-center mission">

        <img class="star-logo" src="/assets/home/starCrown160.png" alt="a crown of stars">

        <h2>Thanks to Eskape's Supporters</h2>
        

        <ul class="supporters">
            <li class="item">Luke Tetley</li>
            <li class="item">Belén Barraguirre</li>
        </ul>

    </div>


</body>

<%- include("partials/footer.ejs")%>