<%- //include("../partials/header.ejs") %>

<body>

<!--<h1>3 Ways to Maintain Healthy Habits</h1>-->

<% var blogTitle = "3 Ways to Maintain Healthy Habits"%>

<div class="blogContent">

<h2>1. Do your habit at the same time each day</h2>
<p>A habit is formed by regularly repeating the same behaviour. Creates pattern recognition. Forms neural pathways. Brain/body will do action without thinking. It's become default, habit</p>


<h2>2. Link your habit to a place</h2>
<p>Create a pattern. In this place, at this time I will do this thing</p>

<h2>2. Link with other habits</h2>

<h2>4. Do your habit where it requires the least amount of energy</h2>
<p>It is much easier to make your bed when you're right next to it, such as when you first get up. Rather than when you've moved on, and are having breakfast. Likewise, it's more difficult to exercise if you have to first fish out your sports kit or equipment. </p>
<p>Useful habit tips</p>
<ul>
    <li>Put your exercise clothes (and equipment) directly in your path, the night before (I put mine outside my bedroom door) </li>
    <li>Do all your activities for that room at the same time eg. brush hair, shower, brush teeth </li>
    <li>Have a re-usable water bottle ready to go on your table as soon as you wake up</li>
    <li>Put healthy food on tables where you're most likely to see them</li>
</ul>

</div>

</body>

<%- //include("../partials/footer.ejs") %>