<body>
    <h1>The Importance of routines</h1>

    <p>When we go to the doctors or therapy we can often be asked about our eating patterns, drinking patterns, exercise, and sleeping patterns? Why are these so </p>


</body>