<p class="summary">*Slow Seasons is a book by Rosie Steer about how reconnecting with Nature and living more slowly, helped her recover from depression and live more fully.*</p>

<p>The book goes through the Seasons via the Celtic calendar, with wonderful ideas of seasonal activities and a telling of the changes in Nature at that time. I absolutely loved it! Rosie lives a life a lot of us who like cottage-core would probably dream of.</p>

<p>She has so much access to gardens and countryside, as well as the time to go foraging, it is genuinely amazing. The book whisks you away into this idyllically quaint rural world, in a way a fantasy fiction might. It&rsquo;s very sweet, wonderfully charming escapism, with threads of real applications that we can put into our lives.</p>

<p>[winter wood or scene]</p>

<img class="blog-img" src="https://images.unsplash.com/photo-1548960095-770e3e6364de?q=80&w=1970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a sassy little robin with its red chest and brown head cocked to one side">
<p class="caption">Image from Unsplash</p>

<h2>Imbolc</h2>

<p>It starts with Imbolc, the time between January and the mid-February in the Northern Hemisphere and July to mid-August in the South. According to Rosie, in Scottish tradition, it is celebrated with a sense of cleaning out the old and starting the new by lighting candles in every room, on the 1st or 2nd of February.</p>

<p>The lighting on candles whether they be fire or electric (hello fairy lights), can add a bit of light and sparkle while the sun is away. And as these days can be cold and dark, Rosie recommends taking the time to take care of yourself.</p>

<p>This could be setting something to look forward to, which she was prescribed by a doctor. It could be something little or big, but focusing our mind on a happy future can help us to live it a little now.</p>

<p>Another self-care activity that&rsquo;s perfect for these times are cosy nights in. Luckily last Christmas, my partner&rsquo;s aunt and uncle gave us exactly this for Christmas, with some tasty biscuits, candles and lights. It really helped us get through the chilly dark days and made our evenings carry over the sparkling warm festivities from Christmas. So I highly recommend having fairy lights or candles to add a bit of light.</p>

<p>[candles and cosy]</p>
<img class="blog-img" src="https://images.unsplash.com/photo-1548960095-770e3e6364de?q=80&w=1970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a sassy little robin with its red chest and brown head cocked to one side">
<p class="caption">Image from Unsplash</p>

<p>Although this time of year can sometimes be bleak, I often feel like the start of the new year brings a sense of hope and a fresh start. The end of bad times and a time for something new. As a result I really like setting New Year&rsquo;s resolutions.</p>

<p>For the last few years my main focus has been to read at least 1 book a month (or at least 12 a year). However, sometimes New Year&rsquo;s Resolutions can make us feel worse as we set ourselves difficult ones, so it can be good to create ones that we can achieve [New year&rsquo;s blog]</p>

<p>While Imbolc can look like the dead of winter with bare trees and grey skies, there are signs that this time is changing and spring is on its way. My favourite sight are the fresh snowdrops which pop up in green areas across the UK, Europe and the Middle East. There a number of wildlife spots that can be seen in winter [link to January watchlist] and to focus our minds on.</p>

<p>this can be a perfect time for a winter walk, making sure you have warm (ideally waterproof) clothes and sturdy, definitely waterproof footwear in case of ice and puddles (my partner has some very nice shoes which work much like a sponge, so after leaving the house his feet are often wet)</p>

<p>In the start of a new year I often feel the hope associated with a fresh start, and I really enjoy setting New Year&rsquo;s Resolutions, which I can get stuck into. I find setting goals that I want to achieve that year makes me feel hopeful of the months to come.</p>

<p>Bit about notice the signs of the seasons changing, the ending of winter with the first snowdrops. And link to blog about wildlife in January and February.</p>

<p>[Easter stuff - eggs bunnies]</p>
<img class="blog-img" src="https://images.unsplash.com/photo-1548960095-770e3e6364de?q=80&w=1970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a sassy little robin with its red chest and brown head cocked to one side">
<p class="caption">Image from Unsplash</p>

<h2>Ostara</h2>

<p>The books says that Ostara, which evolved into Easter, takes place from mid-February to March in the Northern Hemisphere and &#8230; in the South, and like Easter is celebrated around the Vernal or Spring Equinox.</p>

<p>At this time you can feel the weather start to change. The air becomes warmer, and the days are visibly getting longer.</p>

<p>As with Easter this time is about new life, with eggs, chicks and baby bunnies, and there are noticeable changes with the start of Spring. The first sign I look out for are crocuses, and then daffodils but there are other natural wonders as bright green leaves start to come out. [link to feb march wildlife list]</p>

<p>I grew up in quite a Christian house, and Easter was a really special occasion, but since moving out I haven&rsquo;t found my own way of acknowledging it. Christos annesti eggs, going to church and egg hunts or rolling eggs down a hill. How as an adult we can lose these special things. Early in my relationship we&rsquo;d buy a small pack of chocolate eggs and take turns hiding them around the place. Did it so well that a few years later we found one on the bookshelf.</p>

<p>This year, the book inspired me to mark this Spring Ostara occasion by decorating the house.</p>

<p>and I went out with my partner for Spring decorations to put around the house. It can be however grand or little you want, Rosie makes table linen and bringing spring indoors with flower arrangments of seasonal flowers like daffodils and tulips. We got a little tray with bunnies from Morrisons and some chicks and flowers from The Works. Whatever floats your boat.</p>

<p>We combined this with a Spring clean, and together it made our place feel special and rejuvinated. I highly recommend having a bit of a tidy and adding a few decorations.</p>

<p>[Easter decorations table]</p>
<img class="blog-img" src="https://images.unsplash.com/photo-1548960095-770e3e6364de?q=80&w=1970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a sassy little robin with its red chest and brown head cocked to one side">
<p class="caption">Image from Unsplash</p>

<p>evergreen gorse flowers most fragrant, bluebells, wild garlic, primrose</p>

<p>growing something, taking care of houseplants</p>

<p>[blossom]</p>

<h2>Beltane</h2>

<p>april - May 1st may</p>

<p>peak blossom season, japan festival, how quick they come and go, the spring snow, the burgundy left behind</p>

<p>asparagus, jersey potatoes</p>

<p>grow your own shoots</p>

<p>flower pressing</p>

<p>bluebells aliums peonies tulip lily of the valley forget-me-not lilac</p>

<p>[picnics]</p>

<p>she says picnic, on garden if you have one but even on your living room floor</p>

<p>go to a garden or park</p>

<p>recommend getting it from your local library or bookshop</p>

<p>Unfortunately I now have to return the book to the library as it seems it is very popular, and other people have also requested it. I quite like this though as it means I can look forward to reading it again in a couple of weeks and writing more about this.</p>

<p>*the books seemed very popular as several other people had also requested it, making me look forward to it for a number of weeks. When I did get it, yet again, some else requested it&#8230;so I&rsquo;ve only read half of it. When I next get a copy, I&rsquo;ll do a review of the next seasons.</p>

<p>So when I returned home I requested* it from the local library and want to share with you the little tidbits I think might inspire you, as it did me.</p>

<p>On New Year&rsquo;s Eve last year my wonderful partner took me on a long walk to Salts Mill in Saltaire (it is an amazing building in a beautiful area, which I highly recommend you visit). The converted textile mill has a ground floor gallery on Bradfordian David Hockney, and upstairs is a beautiful bookshop, where I came across Slow Seasons.</p>

<p>During my very bad phase I planned a big trip. I wasn&rsquo;t 100% sure I&rsquo;d actually be able to do it, but thinking of places I&rsquo;d like to visit made me feel like I was already there, and made me feel uplifted.</p>