<p class="demoTitle">&nbsp;</p>

<p>While working on many scientific and philosophical problems, dear Prof. Fang likes to have a nice cup of tea and a couple of biscuits.</p>
<p>She wants to track how many biscuits she eats depending on the cups of tea.</p>
<p>Each day for a week she writes down how many cups of tea she drank and how many tasty biscuits.</p>
<p>&nbsp;</p>


<img class="blog-img" src="https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="a journal and pen on a wooden table">

<p><strong>Prof Fang's Journal</strong></p>
<p><strong>Day 1</strong></p>
<p>Cups of tea: 0, Number of biscuits: 2</p>
<p>Had a lovely time counting the number of birds I saw in the garden, had a couple of biscuits</p>
<p>&nbsp;</p>
<p><strong>Day 2</strong></p>
<p>Cups of tea: 2, Number of biscuits: 3.5</p>
<p>Accidentally dropped half a biscuit on the floor.</p>
<p>&nbsp;</p>
<p><strong>Day 3</strong></p>
<p>Cups of tea: 1, Number of biscuits: 3</p>
<p>Solved the problem I&rsquo;ve been working on! Had a celebratory cup of tea.</p>
<p>&nbsp;</p>
<p><strong>Day 4</strong></p>
<p>Cups of tea: 3, Number of biscuits: 5</p>
<p>Got stuck on a new problem, so 3 cups of tea.</p>
<p>&nbsp;</p>
<p><strong>Day 5</strong></p>
<p>Cups of tea: 5, Number of biscuits: 7.5</p>
<p>A tough day today, more tea and biscuits were needed. Split the last biscuit between me and a friend.</p>
<p>&nbsp;</p>
<p><strong>Day 6</strong></p>
<p>Cups of tea: 4, Number of biscuits: 6</p>
<p>Got stuck on a new problem, but made lots of good work today! And lots of tea.</p>
<p>&nbsp;</p>
<p><strong>Day 7</strong></p>
<p>Cups of tea: 1.9, Number of biscuits: 4</p>
<p>Watched more birds in the garden, forgot about one of my teas. Luckily I'd drunk most of it (90%).</p>
<p>&nbsp;</p>

<p><strong>Writing up her Results</strong></p>

<p>To make this easier to read, we can write it in a table like this:</p>
<p>&nbsp;</p>

<table style="height: 46px;">
<tbody>
<tr>
<td style="width: 77.0833px;">Tea</td>
<td style="width: 77.0667px;">0</td>
<td style="width: 77.0833px;">2</td>
<td style="width: 77.0667px;">1</td>
<td style="width: 77.0833px;">3</td>
<td style="width: 77.0667px;">5</td>
<td style="width: 77.0833px;">4</td>
<td style="width: 77.0667px;">1.9</td>
</tr>
<tr>
<td style="width: 77.0833px;">Biscuit</td>
<td style="width: 77.0667px;">2</td>
<td style="width: 77.0833px;">3.5</td>
<td style="width: 77.0667px;">3</td>
<td style="width: 77.0833px;">5</td>
<td style="width: 77.0667px;">7.5</td>
<td style="width: 77.0833px;">6</td>
<td style="width: 77.0667px;">4</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

<p>Prof Fang put the reordered her data by cups of tea so that she might see if there&rsquo;s a pattern.</p>
<p>&nbsp;</p>

<table style="height: 46px;">
<tbody>
<tr>
<td style="width: 77.0833px;">Tea</td>
<td style="width: 77.0667px;">0</td>
<td style="width: 77.0833px;">1</td>
<td style="width: 77.0667px;">2</td>
<td style="width: 77.0833px;">1.9</td>
<td style="width: 77.0667px;">3</td>
<td style="width: 77.0833px;">4</td>
<td style="width: 77.0667px;">5</td>
</tr>
<tr>
<td style="width: 77.0833px;">Biscuit</td>
<td style="width: 77.0667px;">2</td>
<td style="width: 77.0833px;">3</td>
<td style="width: 77.0667px;">3.5</td>
<td style="width: 77.0833px;">4</td>
<td style="width: 77.0667px;">5</td>
<td style="width: 77.0833px;">6</td>
<td style="width: 77.0667px;">7.5</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

<p>It looks like the more cups of tea Prof Fang has, the more biscuits she drinks, but she thinks she might be able to find out even more about her tea and biscuit habits, if she can see her results better.</p>

<p>&nbsp;</p>
<p>She wants to see if there&rsquo;s a shape to her habits so she puts her numbers in a graph.</p>
<p>&nbsp;</p>

<img class="img-fluid blog-img center" src="\scienceBites\tea_scatter_graph.png" alt="a scatter graph showing cups of tea, from 0 to 6, against biscuits, from 0 to 9. The first point is at (0,2), with no tea having 2 biscuits. The other 6 data points are in a roughly straight line going up at an angle of 45 degrees. ">

<p>&nbsp;</p>

<p>The graph shows that the more tea she drinks the more biscuits she eats.</p>
<p>She draws a straight line through her graph, which is closest to most of the points.</p>
<p>&nbsp;</p>

<img class="img-fluid blog-img center" src="\scienceBites\tea_simple_line_graph.png" alt="a scatter graph with a line through the points, showing cups of tea, from 0 to 6, against biscuits, from 0 to 9. The first point is at (0,2), with no tea having 2 biscuits. The other 6 data points are in a roughly straight line going up at an angle of 45 degrees, with a line going through most of the points. ">

<p>Looking at the line she can tell there&rsquo;s a relationship between her tea and biscuits. The number of biscuits she eats depends on the number of cups of tea. The more tea she drinks, the more wonderful biscuits she has too.</p>
<p>&nbsp;</p>

<p>But how can she tell how many?</p>
<!-- notionvc: 575ac941-b964-4309-9eba-af717e9c9800 --><!-- Comments are visible in the HTML source only -->