<p>Prof Fang wants to find out how many biscuits per cups of tea she tends to have. Having made a scatter graph showing her tea and biscuit habits, and adding a line showing the correlation, she can find out.</p>
<p>&nbsp;</p>

<p>Firstly, we know that the number of daily biscuits depends on the number of daily cups of tea.</p>
<p>So biscuits depends on tea.</p>
<p><em>(This can be written like this Biscuits &prop; Tea)</em></p>
<p>But how many more biscuits than tea are there? We can find out by looking at the shape of the line.</p>
<p>&nbsp;</p>

<p><strong>Deducing Line Graphs</strong></p>
<p>Firstly, looking at the graph we can see that when she doesn&rsquo;t have any cups of tea, she eats two biscuits.</p>
<p>So when tea is zero, biscuits are 2.</p>
<p>Tea(0) = 2</p>
<p>&nbsp;</p>
<img class="img-fluid blog-img center" src="\scienceBites\intercept_scatter.png" alt="a scatter graph showing cups of tea, from 0 to 6, against biscuits, from 0 to 9. The first point is at (0,2), with no tea having 2 biscuits (an arrow points here saying intercept). The other 6 data points are in a roughly straight line going up at an angle of 45 degrees. ">
<p>&nbsp;</p>

<p>That&rsquo;s one characteristic of the line, it meets the y-axis (the vertical line) at 2. This is the intercept (as it intercepts the line).</p>
<p>So the line intercepts the graph (at the y-axis) at 2.</p>
<p>&nbsp;</p>

<p>The other thing we can tell about the line is how steep it is. If the line were flat, say at 2 biscuits, then the cups of tea wouldn&rsquo;t change the biscuits. Prof Fang would always have 2 biscuits, no matter how many cups of tea she drank.</p>

<img class="img-fluid blog-img center" src="\scienceBites\flat_line_tea.png" alt="a scatter graph showing cups of tea, from 0 to 6, against biscuits, from 0 to 9. The points show a flat horizontal line at 2 biscuits. ">

<p>But since we know that Prof Fang&rsquo;s biscuit intake does depend on her cups of tea, we can see how much, by the steepness (gradient) of the line.</p>
<p>The steeper the line, the more biscuits she would have depending on her drinking tea.</p>

<p>We can determine how steep the gradient is by seeing how much the line goes up when we go across.</p>
<p>(It&rsquo;s the same with stairs or hills, if stairs are very wide and not very high, then it would be less steep (mostly flat). But if the steps are very close together and high (like ones you find in old buildings or castles), then it&rsquo;s much steeper.)</p>
<p>&nbsp;</p>

<p>Pick 2 points on the line. As you go across how much do you go up?</p>
<p>You can do this by seeing how much you move horizontally (how many cups of tea), and vertically (biscuits)?</p>

<img class="img-fluid blog-img center" src="\scienceBites\tea_simple_line_graph.png" alt="a scatter graph with a line through the points, showing cups of tea, from 0 to 6, against biscuits, from 0 to 9. The first point is at (0,2), with no tea having 2 biscuits. The other 6 data points are in a roughly straight line going up at an angle of 45 degrees, with a line going through most of the points. ">
<p>&nbsp;</p>

<p>If I take one point as 2 cups of tea, the line says 4 biscuits. If I move to 3 cups of tea, I go up 1, to 5 biscuits.</p>
<p>In maths this would be:</p>


<div class="eq-c">
    Gradient =
     <div class="fraction">
     <span class="fup">(biscuit2 - biscuit1)</span>
     <span class="bar">/</span>
     <span class="fdn">(tea2- tea1)</span>
     </div>
     =
     <div class="fraction">
        <span class="fup">(5 - 4)</span>
        <span class="bar">/</span>
        <span class="fdn">(3 - 2)</span>
        </div>
     = 1
   </div>
   
   
<p>&nbsp;</p>
<img class="img-fluid blog-img center" src="\scienceBites\tea_gradient_graph.png" alt="a scatter graph with a line through the points, showing cups of tea, from 0 to 6, against biscuits, from 0 to 9. The first point is at (0,2), with no tea having 2 biscuits. The other 6 data points are in a roughly straight line going up at an angle of 45 degrees, with a line going through most of the points. A dotted grey triangle goes from (2,4) to (3,4) to (3,5).">
<p>&nbsp;</p>
<p>So the gradient (or steepness) is 1. The line goes up by 1, every time it moves along by 1.</p>

<p>&nbsp;</p>
<p>But the number of cups of tea, doesn&rsquo;t equal the number of biscuits. She doesn&rsquo;t have 2 cups of tea and 2 biscuits, she has 4, which is 2 more (remember what we said before about the intercept?)</p>
<p>&nbsp;</p>

<p>Using the intercept and the gradient, we now have everything we need to find out how many biscuits Prof Fang might have, depending on her cups of tea.</p>
<p>We know that for every one cups of tea she has, she has 1 biscuit per cup of tea (the gradient) plus 2 (the intercept).</p>

<p>&nbsp;</p>
<p>So now Prof Fang knows how many biscuits she has per cups of tea. For every cup of tea she has the same number of biscuits, plus two more. 
    If she has 1 tea, she’ll probably have 3 biscuits, if she has 4 teas, she’ll probably have 6! Sweet!</p>
<!-- notionvc: 948b2595-cb3b-47fc-b264-66963f415c79 -->